[Unit]
Description=Vuaz: collect, tag and group news every 90 minutes

[Timer]
OnCalendar=*-*-* 00/3:07:00 UTC
OnCalendar=*-*-* 01/3:37:00 UTC
Persistent=true
Unit=alllens@collect.service

[Install]
WantedBy=timers.target
