[Unit]
Description=All-Lens: collect, tag and group news every 2 hours

[Timer]
OnCalendar=*-*-* 00/2:07:00 UTC
Persistent=true
Unit=alllens@collect.service

[Install]
WantedBy=timers.target
