[Unit]
Description=All-Lens: collect, tag and group news every 3 hours

[Timer]
OnCalendar=*-*-* 00/3:07:00 UTC
Persistent=true
Unit=alllens@collect.service

[Install]
WantedBy=timers.target
